.tt,
.content,
.team {
  text-align: center;
  padding: 20px;
  margin-bottom: 70px;
}

.about .tt h1{
  margin-bottom: 20px;
}

.about .tt p{
  margin-bottom: 3%;
}
.wwr{
  padding:15px 20px ;
  font-size: 16px;
  background-color: #0a8080;
  color: white;;
}


.about {
margin-top: 150px;
}



.wwa {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.wwa p{
  background-color: #EFE2DA;

  width: 650px;
  height: 300px;
  text-align: left;
  line-height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: rgba(142, 142, 151, 0.25) 0px 5px 1px -2px, rgba(142, 142, 151, 0.25) 0px 3px 6px -3px, rgba(142, 142, 151, 0.25) 0px -2px 6px 0px inset;
}

.wwa img{
  margin-top: -60px;
}
/* slide team */

.swiper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.social-icon {
  margin: 5px;
}
 
 

section.FAQ,
section.ReviewsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;

}

section.FAQ div.Faq {
  width:700px;
}

section.FAQ div.Faq div {
    background-color: #EFE2DA;

  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: rgba(142, 142, 151, 0.25) 0px 5px 1px -2px, rgba(142, 142, 151, 0.25) 0px 3px 6px -3px, rgba(142, 142, 151, 0.25) 0px -2px 6px 0px inset;
}

.AnswerFaq {
  display: none;
  margin-top: 20px;
  line-height: 40px;
}

section.FAQ div.Faq div h2 {
  cursor: pointer;
}

.faqTitle{
  font-size: 30px ;
  padding: 30px;
}

.Reviews{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.Reviews p{
   width: 350px;
   padding-bottom: 50px;
}


@media (max-width: 768px) {

  .tt h1{
    font-size: 25px;
  }
  .tt p{
    margin-bottom: 10px;
  }
  .tt img{
  width: 70%;
  }
  .wwr{
    padding: 10px;
  }

.wwa p{

  background-color: #EFE2DA;
  width:500px;
  height: auto;
  text-align: left;
  line-height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: rgba(142, 142, 151, 0.25) 0px 5px 1px -2px, rgba(142, 142, 151, 0.25) 0px 3px 6px -3px, rgba(142, 142, 151, 0.25) 0px -2px 6px 0px inset;
}

.wwa img{
  margin-top: 60px;
} 


  /* swiper */
  
  section.FAQ div.Faq {
    width: 100%;
  }
 .QuestionFaq{
  font-size: 20px;
 }


 .swiper-button-next{
  width: 300px;
  height: 300px;
  background-color: #0a8080;
 }

}