.Advertise {
    margin-top: 150px;
}

.firstPartAdvertise {
    text-align: center;
    background-color: #FFF5ED;
}
.firstPartAdvertise img{
    width: 50%;
    height: 50%;
}

.Services {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.serviceContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin-bottom: 150px;
    padding: 50px;
}

.serviceContainer1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.serviceDetail {
    flex: 1;
    text-align: left;
    padding: 20px;
    background-color: #FFF5ED;
    border-radius: 15px;
    box-shadow: 0px 5px 3px rgb(189, 191, 192);

}

.serviceImage {
    flex: 1;
    height: 200px;
}
.serviceImage img{
    width: 500px;
    height: 450px;
}

.serviceDetail h2 {
    margin-top: 0;
}

.serviceDetail p {
    margin-bottom: 20px;
    line-height: 30px;

}

.serviceDetail ul {
    padding: 0;
    list-style: none;
}

.serviceDetail ul li {
    display: flex;
    align-items: center;

}

.serviceDetail ul li img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .Advertise {
        margin-top: 150px;
        align-items: start;
    }
    .Advertise .firstPartAdvertise h1 {
        font-size: 30px;
    }

    .Advertise .firstPartAdvertise img {
        height: 300px;
        margin-top: 20px;
    }
    

    .Services {
        align-items: left;
    
    }
    
    .serviceContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
    
    .serviceContainer1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    .serviceContainer1 .serviceImage{
        align-self: center;
    }
    
    .serviceContainer1 .serviceImage img, .serviceContainer .serviceImage img {
        height: 350px;
        padding: 20px;
    }
    
    
    









}