@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,700&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format("woff2");
  font-display: swap;
}

:root {
  --bg-color: #fff;
  --text-color: #02073e;
  --second-color: #0f2137;
  --main-color: #efe2da;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* navbar */
nav {
  top: 0;

  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  align-items: center;
  background: var(--bg-color);
  padding: 30px 0%;
  z-index: 1000;
}


.navbar {
  position: relative;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 35%;
  height: auto;
  padding: 30px 0%;

  z-index: 0;
  transition: 0;
}

.logo {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--text-color);
}

.logo img {
  height: 35px;
  margin-right: 5px;
}

ul.navbar a.hide,
ul.navbar div {
  display: none;
}

a {
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;

  color: var(--text-color);
}

.navbar a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}

.strline {
  position: absolute;
  right: 22%;
}

/* bars */

.bars {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/*  */
h1 {
  font-size: 40px;
  font-family: "B612", sans-serif;
}

p,
span {
  font-family: "DM Sans", sans-serif;
}

/* subscribe */

.subscribe {
  width: 100%;
  height: auto;
  background-image: url(../img/subs.png);
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  padding: 6% 80px;
  display: flex;
  justify-content: center;
}

.sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: start;
  gap: 3rem;
  background-color: white;
  width: 60%;
  padding: 2.5%;
}

.subscribeLeft h1 {
  font-size: 25px;
}

.subscribeLeft p {
  font-size: 16px;
  color: #6f7385;
  width: 70%;
  margin-top: 10px;
}

form input.inp {
  background-color: #d4dae2;
  border: none;
  padding: 14px 30px;
  width: 65%;
  border-radius: 10px;
  color: black;
  margin-bottom: 10px;
}

.subParagraph label {
  color: #6f7385;
  font-size: 12px;
  margin-left: 2px;
}

form a {
  background-color: #d1296f;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
}

/*   footer */

footer {
  width: 100%;
  height: auto;
  padding: 5% 10%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.clmn h1 {
  font-size: 15px;
  color: #0f2137;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.clmn p {
  color: #6f7385;
  font-size: 12px;
}

.logofooter img {
  height: 25px;
  margin-right: 5px;
}

.bx h1 {
  font-weight: 600;
  font-size: large;
  margin-bottom: 30px;
  margin-left: 17px;
}

.bx a {
  color: #4c4d55;
  margin-bottom: 10px;
  display: inline-flex;
}

.bx li img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 10px;
}

.bx li img.twit {
  width: 20px;
  height: 17px;
}

@media (max-width: 1821px) {
  .subscribe {
    margin-top: 8%;
  }

  .subscribeLeft h1 {
    font-size: 20px;
  }

  .subscribeLeft p {
    width: 80%;
    font-size: 14px;
    text-align: left;
  }

  form a {
    display: flex;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    font-size: 16px;
  }

  .subParagraph label {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 2px;
  }
}

@media (max-width: 768px) {
  /* navbar */



  nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    background: var(--bg-color);
    padding: 30px 5%;
    z-index: 1000;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #EFE2DA;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    padding: 80px 20px;
    z-index: 1;
    transition: left 0.3s;
  }

  .navbar.active {
    left: 0;
  }

  .bars {
    display: block;
  }

  .bars.active .bar:nth-child(2) {
    opacity: 0;
  }

  .bars.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bars.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ul.navbar a.hide,
  ul.navbar div {
    display: block;
  }

  ul.navbar div img {
    left: 40px;
  }

  nav div a,
  nav div img {
    display: none;
  }

  .logo {
    font-size: 14px;
    font-weight: 400;
  }

  .logo img {
    width: 25px;
    height: 25px;
  }

  /*  subscribe*/

  .subscribe {
    width: 100%;
    background-image: none;
    background-color: #EFE2DA;
    margin-top: 10%;
    padding: 6% 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding-bottom: 150px;

  }

  .sub {

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.605);
    width: 100%;
    padding: 20px;
    border-radius: 15px;
  }

  .subscribeLeft h1 {
    font-size: 25px;
  }

  .subscribeLeft p {
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  form input.inp {
    margin-top: -10px;
    padding: px 0px;
    margin-bottom: 10px;
    width: 65%;
    height: 50px;
    border-radius: 10px;
    color: black;
  }

  form a {
    width: 100px;
    margin: auto;
    font-size: 14px;
    background-color: #0a8080;
  }

  .sub form .checkbox {
    width: 13px;
    height: 13px;
  }

  /* fooooter */

  footer {
    width: 100%;
    height: auto;
    margin-left: 0px;
    padding: 0% 0%;
    margin-top: -80px;
  }

  .clmn .logo img {
    width: 20px;
  }

  .footer {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
    justify-content: center;
  }


  .bx h1 {
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    color: #0a8080;
    font-size: medium;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid #0a8080;
  }


  .clmn p,
  .bx ul {
    display: none;
  }

  .clmn,
  .bx {
    background-color: #EFE2DA;
    padding: 10px;
    text-align: center;
  }
}