.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.firstPartHome {
    z-index: 1;


}

h1 {
    font-size: 40px;
}

.home button {
    background-color: #0A8080;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.home .img {
    width: auto;
}

/* service */
.service {
    width: 100%;
    height: 100%;
    background-color: #FFF5ED;
    margin-top: -100px;
    padding: 8% 14%;
}

.service h1 {
    font-size: 25px;
    margin-top: 20px;
}

.service .cards p {
    font-size: 10px;
    color: gray;
    margin-top: 15px;
}

.cards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;

}

.card {
    display: flex;
    text-align: start;
}

.card img {
    width: 100px;
    height: 100px;
}

.details h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-left: 20px;
}

.details p {
    margin-left: 20px;
    width: 50%;
}

.quote {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 8%;
}



.quote img {
    right: 20%;
    width: 32px;
    height: 32px;
    margin-top: -100px;
}

.quote p.author {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 200;
    text-align: start;

}

.quote p.prgrpQuote {
    width: 100%;
    font-size: 18px;
    text-align: start;
    color: rgb(0, 0, 0);
    margin-left: -450px;

}





.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 50px;
}

.platform img {
    width: 100px;
    height: auto;
}





/* Services6 */

.Services66 {
    width: 70%;
    text-align: center;
    margin-left: 300px;
}

.Services66 h1 {
    font-size: 25px;
}

.Services66 p {
    font-size: 10px;
    color: gray;
    margin-top: 15px;
}

.servicesCards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.card-service {
    display: flex;
    text-align: start;
}

.card-service img {
    width: 100px;
    height: 100px;
}

.infos {
    text-align: start;
}

.infos h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-left: 20px;
}

.infos p {
    margin-left: 20px;
    width: 50%;
}

.infos a {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    display: inline-flex;
    color: rgb(0, 102, 255);
}

.infos a i {
    vertical-align: middle;
    font-size: 16px;
    margin-left: 10px;
}

/* why us */

.chooseUs {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.whyUs label {
    font-size: 20px;
    font-weight: 700;
}
.whyUs label.scndlabel{
    margin-left: 50px;

}
#content1 .descri h1, #content2 .descri h1, #content3 .descri h1 {
    font-size: 40px;
    margin-top: 100px; 
}

#content1 .descri p, #content2 .descri p, #content3 .descri p{
    padding: 10px;
    width: 43%;
    line-height: 30px;
    
}


/* Hide input */
input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  #service:checked ~ .contents #content1,
  #promise:checked ~ .contents #content2,
  #plan:checked ~ .contents #content3 {
    display: block;

  }
  
  .contents .content {
    display: none;
  }
  
.vv ul{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.explore {
    color: #3183FF;
    font-size: 16px;
    display: inline-flex;
    margin-top: 50px;
}

.explore i {
    color: #3183FF;
    font-size: 27px;

}
.imagecontent{
    position: absolute;
    right: 500px;
    top: 2200px;
    
}
.imagecontent img{
    /* positon cz display none (block) */
    width:400px;
}


/* Popular Blog */
.PopularBlog {
    justify-content: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.PopularBlog .headr {
    margin-top: 9%;
}
.PopularBlog .headr p{
    line-height:40px;
}

.cardss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
    text-align: start;
    margin-top: 5%;
}

.cardd h1 {
    font-size: medium;
    text-align: start;
    width: 75%;
}

.cardd p {
    width: 70%;
    margin-top: 15px;
    color: gray;

}

.cardd .h11 {
    background-color: #FFF5ED;
    padding: 30px;
    margin-bottom: 20px;
    width: 90%;
}

.cardd .h11 h1 {
    width: 90%;
}

.cardd .image img {
    position: relative;
    margin-bottom: 20px;
    width: 85%;
    height: 80%;
}

.cardd .image .h12 {
    position: absolute;
    bottom: -232%;
    color: white;
    margin: 10px 0 50px 10px;
    width: 18%;
    font-size: small;
}

@media (max-width: 768px) {

    .firstPartHome h1 {
        font-size: 23px;
        margin: 10px;
    }
    
    .home .img img{
        width: 100%;
    }
    
    /* service */
    .service {
        width: 100%;
        height: 100%;
        background-color: #FFF5ED;
        margin-top:-30px;
        padding: 8% 14%;
    }
    
    .service h1 {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .service .cards p {
        font-size: 15px;
        color: gray;
        margin-top: 15px;
    }
    
    .cards {
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
    .card {
        display: flex;
        text-align: start;
        width: 100%;
    }
    
    .card img {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }
    
  
    
    .quote p.author {
        width: 130px;
    
    }
    
    .quote p.prgrpQuote {
        width: 300px;
        margin-left: -80px;
    
    }

    .platform {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
    .platform img {
        width: 70px;

    }
    
    
    
    
    
    /* Services6 */
    
    .Services66 {
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }
    
    .Services66 h1 {
        width: 70%;
        font-size: 23px;
    }
    
    .servicesCards {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    /* why us */
    
    .chooseUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: 10px;
    }
    .whyUs{
        display: flex;
        flex-direction: column;
    }
    .whyUs label {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .whyUs label.scndlabel{
        margin-left: 0px;
    
    }
    #content1 .descri h1, #content2 .descri h1, #content3 .descri h1 {
        font-size: 23px;
        margin-top: 40px; 
    }
    
    #content1 .descri p, #content2 .descri p, #content3 .descri p{
        padding: 10px;
        width: 90%;
        line-height: 30px;
        
    }
    
    
    /* Hide input */
    input[type="radio"] {
        position: absolute;
        left: -9999px;
      }
    
      #service:checked ~ .contents #content1,
      #promise:checked ~ .contents #content2,
      #plan:checked ~ .contents #content3 {
        display: block;
    
      }
      
      .contents .content {
        display: none;
      }
      
    .vv ul{
        width: 400px;
        display: grid;
        grid-template-columns: 1fr ;
    }
    
    
    .explore {
        color: #3183FF;
        font-size: 14px;
        display: inline-flex;
        margin-top: 10px;
    }
    
    .explore i {
        color: #3183FF;
        font-size: 27px;
    
    }
    .imagecontent{
        display: flex;
    }
    
    
    
    /* Popular Blog */
    .PopularBlog {
        justify-content: left;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    
    
    .cardss {
        grid-template-columns: repeat(1, 1fr);

    }
    
    
     

    
}