:root {
    --prgrph-color: #5a5a5a;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstPartHome {
    margin-top: 150px;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.5s ease;
}

.slide {
    transition: transform 0.5s ease;
}

h1 {
    font-family: 'B612', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

button {
    background-color: #0A8080;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.slide img {
    width: 100%;
}

.auto-btn {
    display: none;

}

.auto-btn-container {
    text-align: center;
    margin-top: 10px;
}



/* service */
.service {
    width: 100%;
    height: 100%;
    background-color: #FFF5ED;
    margin-top: -140px;
    padding-top: 6%;
}

.service h1 {
    margin-top: 50px;
}

.cards {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;

}

.carddd {
    width: 500px;
    display: flex;
    text-align: start;
    gap: 10px;
}


.service .cards h1 {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.service .cards p {
    width: 250px;
    font-size: 16px;
    color: var(--prgrph-color);
}

.carddd img {
    margin-top: 40px;
    width: 110px;
    height: 100px;
}


.quote {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
}



.quote img {
    width: 50px;
    height: 32px;
}

.quote p.author {
    font-size: 10px;
    text-align: start;

}

.quote p.prgrphQuote {
    width: 60%;
    font-size: 24px;
    text-align: start;
    color: rgb(0, 0, 0);
    line-height: 50px;

}





.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 3rem;
    margin-top: 50px;
}

.platform img {
    width: 100px;
    height: auto;
}





/* Services6 */

.Services66 {
    width: 70%;
    text-align: center;
    margin-top: 50px;

}



.Services66 p {
    margin-top: 15px;
}

.servicesCards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 6rem;
}

.card-service {
    display: flex;
    text-align: start;
}

.card-service img {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.info h1 {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: rgb(34, 34, 34);
}

.info p {
    line-height: 35px;
    text-align: start;
    margin-top: -15px;
    width: 300px;

}


.info a {
    margin-left: -20px;
    text-align: start;
    font-family: 'DM Sans', sans-serif;
    color: rgb(0, 102, 255);
}


/* why us */
.whyUs {
    width: 70%;
    margin-top: 80px;
}

.questions {
    padding-bottom: 2%;
}

.question {
    margin-right: 100px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.question.active {
    border-bottom: 2px solid #A17857;
    padding-bottom: 2%;
}

.answer {
    margin-top: 60px;
    display: none;
}

.answer.show {
    display: block;
    animation: show 1s;
}

@keyframes show {
    0% {
        opacity: .1;
        transform: scale(.6);
    }

    50% {
        opacity: .8;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.answerContent {
    display: flex;
    justify-content: space-evenly;
    text-align: start;
}

.answerContent .answerImg {
    width: 40%;
}

.answerContent .descri p {
    width: 57%;
    line-height: 40px;

}

.vv ul {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 40px;
    margin-bottom: 20px;
}

.vv ul li span img.imgV {
    margin-right: 10px;
    margin-bottom: -3px;
}

.explore {
    color: #0c6cfd;
    font-size: 16px;
    margin-left: -20px;
}


.card-container {
    display: none;
}





/* Popular Blog */
.PopularBlog {
    margin-bottom: 150px;
    margin-top: 100px;
}

.PopularBlog .headr {
    text-align: center;
    margin-top: -6%;
}

.PopularBlog .headr p {
    line-height: 40px;
}

.cardss {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    text-align: left;
    margin-top: 5%;
}

.cardd h1 {
    font-size: 19px;
    text-align: start;
    width: 90%;
}

.cardd p {
    color: var(--prgrph-color);
    width: 90%;
    margin-top: 15px;
    color: var(--prgrph-color);

}

.cardd .h11 {
    background-color: #FFF5ED;
    padding: 33px;
    margin-bottom: 20px;
    line-height: 33px;
}

.cardd img {
    width: 90%;
    height: 55%;
}

.cardd .img2 {
    width: 90%;
    height: 40%;
    z-index: -1;

}

.cardd .image img {
    position: relative;
    margin-bottom:50px;
    width: 85%;
    height: 80%;
    z-index: -1;
}

.cardd .image .h12 {
    z-index: 1;
    margin-top: -150px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 300px;
}

.cardd .image .h13 {

    margin-top: -150px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 300px;
}

@media (max-width: 1821px) {
    /* service  */
  
    .service h1 {
        margin-top: 50px;
    }

    .cards {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }

    .card {
        width: 400px;
        display: flex;
        flex-direction: column;

    }



    .service .cards .infos {
        text-align: center;
    }

    .service .cards p {
        width: 400px;
        font-size: 16px;
        color: var(--prgrph-color);
    }

    .card img {
        margin-top: 40px;
        margin-left: 40%;
        width: 90px;
        height: 90px;
    }



    /* qoute  */



    .quote {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;

    }



    .quote img {
        width: 50px;
        height: 32px;
    }

    .quote p.author {
        font-size: 10px;
        text-align: start;

    }

    .quote p.prgrphQuote {
        width: 90%;
        font-size: 24px;
        text-align: start;
        color: rgb(0, 0, 0);
        line-height: 40px;

    }


    .platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 3rem;
    }

    .platform img {
        width: 100px;
        height: auto;
    }



    .Services66 {
        width: 70%;
        text-align: center;
        margin-top: 50px;

    }
    

    /* why us  */

    
   
    .question.active {
        width: 300px;
        border-bottom: 2px solid #A17857;
        padding-bottom: 10px;
    }

    .question {
        margin-right: 0px;
        margin-bottom: 20px;
       
    }
    .questions{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
    }
    
    .answer {
        margin-top: 60px;
        display: none;
    }

    .answer.show {
        display: block;
        animation: show 1s;
    }

    .answerContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: start;
    }

    .answerContent .answerImg {
        width: 30%;
    }

    .answerContent .descri p {
        width: 100%;
        line-height: 40px;

    }
    .descri h1{
        font-size: 25px;
    }

    .vv ul {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .vv ul li span img.imgV {
        margin-right: 10px;
        margin-bottom: -3px;
    }


    .explore {
        color: #0c6cfd;
        font-size: 16px;
        margin-left: -20px;
    }


}

@media (max-width: 768px) {

    /* first part at home slider */
    .home .firstPartHome {
        margin-top: 150px;
    }


    h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .service {
        width: 100%;
        background-color: #fff;
        margin-top: 0px;
        border-radius: 40px;
    }


    .service h1 {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .containCardsService {
        display: flex;
        justify-content: center;
    }

    .service .firstParagraphServices {
        margin-top: 20px;
        line-height: 40px;
    }

    .service .cards p {
        font-size: 15px;
        margin-top: 15px;
    }

    .cards {
        margin-top: 1%;
        flex-direction: column;
        margin-left: 0%;
    }

    .carddd {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;

    }

    .service .cards h1 {
        text-align: center;
    }

    .service .cards p {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .carddd img {
        width: 24%;
    }

    .quote {
        display: none;
    }

    .platform {
        display: flex;
        flex-wrap: wrap;
    }


  
    

    /* Services6 */

    .Services66 {
        display: none;
    }

    /* why us */

    .questions {
        margin-top: -100px;
    }



}

.burger-icon {
    display: none;
    cursor: pointer;
}

/* Style for the navigation menu */
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}