body section{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first-section {

  background-color: #EFE2DA;
  padding:50px 10% ;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first-section img {
  width: 40%;
}

.first-section-description{
  display: flex;
  width: 50%;
}


.first-section form input, textarea{
  background-color: white;
  width: 272px;
  height: 41px;
  border: none;
  border-radius: 15px;
  margin: 7px 0 20px 0;
}

.first-section form textarea{
  width: 272px;
  height: 92px;
}

.first-section form button{
  padding: 10px 50px;
  margin-left: 22%;
  color: white;
  background-color:#0A8080;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}



.other-ways{
  margin-top: -100px;
}
.other-ways h1{
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}




.social {
  display: flex;
  flex-wrap: wrap;
}

.phone {
  display: flex;
  margin-left: 30px;
}
.phone i{
  margin-top: -10px;
  margin-right: 5px;
}
.socialIcons {
  margin-left: 30px;
}

.socialIcons img {
  width: 24px;
  height: 24px;
}


@media (max-width: 768px) {


  .first-section {
  
    background-color: #EFE2DA;
    padding:0px 10% ;
    display: flex;
    flex-direction: column;
  }
  
  .first-section img {
    width: 40%;
  }
  
  .first-section-description{
    display: flex;
    width: 100%;
  }

  .first-section form{
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding:50px 25% 100px 25% ;
  }
  
  .first-section form input, textarea{
    background-color: #EFE2DA;
    width: 272px;
    height: 41px;
    border: none;
    border-radius: 15px;
    margin: 7px 0 20px 0;
  }
  
  .first-section form textarea{
    width: 272px;
    height: 92px;
  }
  
  .first-section form button{
    padding: 10px 50px;
    margin-left: 22%;
    color: white;
    background-color:#0A8080;
    border: none;
    border-radius: 10px;
    font-size: 18px;
  }
  
  


}